
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* shard style */

.btn{
    background-color:#FB09B4;
    border-radius: 35px;
    padding: 12px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;

}

.btn-2{
    border: 1px solid #00FF88;
    padding: 12px 16px;
    background-color: transparent;
    color: #00FF88;
    font-weight:600;
    font-size: 1.25rem;
    border-radius: 35px;
    cursor: pointer;

}

/* main style  */
.navbar{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
    color: #FFFFFF;
    padding: 20px 200px;

}

.hamburger-menu{
    display: flex;
    display: none;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 32px;
   
}

.nav-menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.logo{
    font-size: 32px;
}

.span-item{
    color:#FB09B4;
}


main{
    background: url(../imags/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    max-width: 1600px;
    height: 47.5rem;
}

#banner{
    padding: 100px 525px;
}


#banner .banner-image-1{
    padding-left: 5.6rem;
}

#banner .banner-image-2{
    margin-top: -260px;
    padding-left: 13rem;
}

#banner .banner-contant{
    margin-top: 100px;
    color: #FFFFFF;
}

#banner .banner-contant h2{
    font-size: 4rem;
    text-align: center
}

#banner .banner-contant p{
    width: 35rem;
}

.banner-button{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}     

.banner-button img{
    padding-right: 0.5rem;
}

#about{
    background-color:#1A0B2E;
    color: #FFFFFF;
    padding: 3rem 12.5rem 7.5rem 12.5rem;
    text-align: center;
}

#about .about-title h3{
    font-size: 3rem;
    margin-bottom: 1rem;

}

#about .about-title p{
    max-width: 75rem;
    padding: 0 16rem;
}

#about .about-container{
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid rgb(58, 56, 56);
    display: grid;
    grid-template-columns: repeat(4, 1fr)

}

.about-box h3{
    color:#00FF88;
    font-size: 3rem;
}

.about-box p{
    padding-top: 1rem;
}

#techwave-container{
    background-color: #412567;
    color: #FFFFFF;
    padding: 7.5rem 12.5rem;
}

#techwave-container h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.techwave-card-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 241px);
}

.techwave-card{
    border: 1px solid #8234ee;
    box-shadow: 5px 5px 8px #fb09b267;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    padding: 2.5rem;
}

.medium-card{
    grid-row: span 2;
}

.larg-card{
    grid-column:span 2;

}

.card-team-1{
    padding-top: 8rem;   
}

.techwave-card img{
    padding-bottom: 1rem;

}

.techwave-card h4{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.unic-icon img{
    height: 4.5rem;
    width: 3.75rem;
}

#featured-container{
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 7.5rem 12.5rem;

}

#featured-container h3{
    font-size: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.featured-episodes{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 7.5rem;

}

.featured-card{
    border: 1px solid #8234ee;
    box-shadow: 5px 5px 8px #fb09b267;
    border-radius: 30px;
    padding-bottom: 1.5rem;
    width: 23.75rem;
}

.featured-card iframe{
    width: 100%;
    border-radius: 30px;
}

.featured-card h4{
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem 0.8rem;

}

.featured-card p{
    line-height: 1.5rem;
    padding: 0rem 1.5rem 0.8rem;
}

.time{
    color: #00FF88;
    padding-left: 0.375rem;
}

.featured-card img{
    padding-left: 1.5rem;
}

.host-contant{
    border: 1px solid #8234ee;
    box-shadow: 5px 5px 8px #fb09b267;
    border-radius: 30px;
    display: flex;
    gap: 1.5rem;
    padding: 2.5rem;

}

.host-contant h4{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.host-contant p{
    padding-bottom: 1rem;
}

.social img{
    border: 1px solid #533C72;
    border-radius: 99px;
    padding: 0.8rem;
    margin-right: 0.5rem;
}

#footer-contant{
    background: url(../imags/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    max-width: 1600px;
    color: #FFFFFF;
    text-align: center;
    height: 25.75rem;
    padding: 7.5rem;

}

#footer-contant h1{
    font-size: 4rem;
    margin: 0rem;
}

.footer-icon{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 1.5rem 0rem;

}

.footer-icon-box{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* for mobile  */

@media screen and (max-width: 576px){
    .navbar{
        flex-direction: row;

    }
    

    .logo{
        display: inline-flex;
        margin-right: 19rem;
        margin-left: -10rem;

    }

    .hamburger-menu{
        display: inline;
        flex-direction: row;
        justify-content: space-between;

    }
    
    .navbar .nav-menu,.btn {
        display: none;
    
    }

    #about .about-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        margin-left: -3rem;

    }

    #about .about-title h3{
        font-size: 2rem;
        margin: 0px;
        padding: 0px;

    }

    #techwave-container{
        padding: 4rem 2rem;
    }

    .techwave-card-container{
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);

    }

    #techwave-container h2{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    #featured-container{
        padding: 4rem 6rem;

    }

    #featured-container h3{
        font-size: 2rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    .featured-episodes{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 100%;
        max-width: 100rem;
        margin-bottom: 4rem;

    }

    .host-contant{
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        text-align: center;

}

    .host-contant h4{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }   

    .host-contant p{
        font-size: 0.8rem;
    }


}
  
